@model ShoppingListApp.ViewModels.ShoppingItemViewModel

@{
    ViewData["Title"] = "List";
}


<div class="container">
    <div style="margin-bottom:15px">
        @using (Html.BeginForm("ShoppingItem", "AddNewItem"))
        {
        <div class="input-group">
            @Html.TextBoxFor(m => m.NewItemName, new { @class = "form-control", @placeholder = "Nieuw item toevoegen..." })
            <span class="input-group-addon" style="width:0px; padding-left:0px; padding-right:0px; border:none;"></span>
            <select asp-for="NewItemShop" asp-items="(Html.GetEnumSelectList<Store>())" class="form-control"></select>

            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary" asp-controller="ShoppingItem" asp-action="AddShoppingItem">+</button>
            </span>
        </div>
        }
    </div>

</div>
<div class="container">
    <table class="table" style="margin:0px">
        @using (Html.BeginForm("ShoppingItem"))
        {
        @foreach (var shop in Model.ShoppingItemRepository.ShoppingItems.OrderByDescending(x=> x.Urgent).ThenBy(x=> x.Store).Select(x => x.Store).Distinct())
        {
        <tr>
            <td class="bg-lightgray bold text-primary" colspan="3"><i class="fa fa-shopping-basket"></i>&nbsp;@shop.ToString().ToUpper()</td>
        </tr>
        @foreach (var item in Model.ShoppingItemRepository.ShoppingItems.Where(x => x.Store == shop).OrderByDescending(x => x.ID))
        {
        <tr>
            <td>
                <i class="fa fa-arrow-circle-right @(item.Urgent == true ? "text-red" : "text-lightgray")"></i>
                <span class="@(item.Urgent == true ? "text-red bold" : "")">@item.Name</span>
            </td>
            <td style="width:25px;">
                <a  asp-controller="ShoppingItem" asp-action="ToggleUrgent" asp-route-itemID="@item.ID">
                    <i class="fa fa-exclamation-circle @(item.Urgent == true ? "text-red" : "text-lightgray")"></i></a>
            </td>
            <td align="right" style="width:25px;">
                <button class="btn-default btn-xs btn" asp-controller="ShoppingItem" asp-action="DeleteShoppingItem" asp-route-itemID="@item.ID">-</button>
            </td>
        </tr>
        }
        }
        }
    </table>

</div>

